.maps-item {
    position: relative;
    transition: all .2s ease-in-out;
}

.maps-list__item {
    padding: 4px;
    background: #161616;
    box-shadow: 0 0 12px 4px rgba(13,13,13,.6);
    border-radius: 4px;
}

.maps-item__image {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    height: 110px;
}

@media screen and (min-width: 768px) {
    .maps-item__image {
        height: 220px;
    }
}

.maps-item__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.maps-item__image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    transition: .2s;
}

.maps-item__content {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    text-align: center;
    padding: 15px;
}

.maps-item__title {
    color: white;
    font-weight: 600;
    font-size: 20px;
}